name: code-build

on:
  push:
    branches: [ main ]
    tags:
      - '*'
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-24.04
    steps:
    - name: Free Disk Space for Docker
      uses: endersonmenezes/free-disk-space@v3
      with:
        remove_android: true
        remove_dotnet: true
        remove_haskell: true
        rm_cmd: "rmz"

    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'

    - name: Run 'make check'
      run: make check

    - name: Build
      run: |
        go build -v ./...

    - name: Test
      run: go test -v ./...
