name: build-img-ghrunner-test

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'pkg/integrations/github/*.go'
      - '.github/workflows/build-img-ghrunner-test.yaml'

jobs:
  build-mapt:
    name: build-mapt
    runs-on: ubuntu-24.04
    steps:
    - name: Free Disk Space for Docker
      uses: endersonmenezes/free-disk-space@v3
      with:
        remove_android: true
        remove_dotnet: true
        remove_haskell: true
        rm_cmd: "rmz"

    - name: Checkout code
      uses: actions/checkout@v6

    - name: Build image for PR
      if: ${{ github.event_name == 'pull_request' }}
      env:
        IMG: ghcr.io/redhat-developer/mapt-img-ghrunner-test:pr-${{ github.event.number }}
      shell: bash
      run: |
        make oci-build-amd64
        make oci-save-amd64
        echo ${IMG} > mapt-image

    - name: Create image metadata
      run: |
        echo ${{ github.event_name }} > mapt-event
        cat ./mapt-event

    - name: Upload crc-builder
      uses: actions/upload-artifact@v6
      with:
        name: mapt-${{ env.ARCH_TYPE }}
        path: mapt*

